<ion-header>
  <ion-toolbar>
    <ion-title>
     Reminder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Lancer une notification</p>
<ion-button expand="block" (click)="applyNotification()">Maintenant</ion-button>
<ion-button expand="block" (click)="minuteNotification()">Tous les minutes</ion-button>
<ion-button expand="block" (click)="dailyNotification()">Tous les jours</ion-button>
<ion-button expand="block" (click)="getAll()">Afficher tous</ion-button>
<ion-list>
  <ion-item *ngFor="let n of scheduled">
<ion-label text-wrap>
  {{n.id}} - {{n.title}}
  <p>Trigger: {{n.trigger | json }}</p>
</ion-label>
  </ion-item>
</ion-list>



</ion-content>
